

/* banner */
#about_banner{clear: both; width: 100%; height: 860px; position:relative; text-align: center; overflow: hidden;} 
#banner_img>img:first-child{width: 1920px; }
.ban_logo{width: 370px; position: absolute; top: 380px; left: 50%; margin-left: -185px;}
#about_banner p{position: absolute; top: 500px; left: 50%; margin-left: -208px; font-size: 30px; color: #fff; line-height: 50px; text-align: center;}

/* tab menu */
.tab{position: absolute; bottom: 0; left: 50%; margin-left: -550px;}
.tablinks{display: inline-block; width: 550px; height: 100px; font:30px 'Noto Sans CJK KR Medium';  border: none; cursor: pointer; line-height: 100px; background: #1A1A1A; opacity: 0.75; transition: .2s all ease-in-out;}
.tablinks:nth-child(2){margin-left: -6px;}
.tablinks a{display: block; color: #fff; transition: .2s all ease-in-out;}
.tab .on{background: #E8EAD9; opacity: 1;}
.tab .on a{color: #1a1a1a;}
.tablinks:hover{background: #E8EAD9; opacity: 1;}
.tablinks:hover a{color: #1a1a1a;}

/* tab contents */
/* common */
.tabcontent{width: 1920px; height: auto; margin: 0 auto; padding-bottom: 230px; display: none;}
section.on{display: block;} /* on 상태에서만 보이기 */
.tabcontent h2{margin: 120px 0 50px 330px;}
.tabcontent .story{width: 1280px; height: 760px; position: relative; margin-bottom: 150px; margin: 0 auto 150px;} 
.tabcontent .story img{position: absolute;} 
.tabcontent .story h3, .tabcontent .story p{position: absolute;} 
.tabcontent .story h3{font-size: 40px;} 
.tabcontent .story p{font-size: 25px; line-height: 40px;} 

/*st_story*/ 
#st_story{background: url(../images/bg_seasonstable_blur.jpg) no-repeat bottom -100px center; background-size: 100%;}
#st_story .story img{height: 100%;} 
#us_pt1-1 img{width: 100%;} 
#us_pt1-1 p{left: 0; bottom: 25px;} 

#st_story #us_pt1-2{width: 1920px; overflow: hidden;}
#st_story #us_pt1-2 img{width:100%; height: auto;}
#st_story #us_pt1-2 h3{color: #fff; left: 410px; bottom: 225px;} 
#st_story #us_pt1-2 p{color: #fff; left: 410px; bottom: 100px;} 

#st_story #us_pt1-3{margin-bottom: 0;}
#st_story #us_pt1-3 h3{left: 700px; top: 150px;} 
#st_story #us_pt1-3 p{left: 700px; bottom: 300px;} 
#st_story #us_pt1-3 img{left: 30px; top: 50px; height: 500px; padding: 30px 0;} 

#st_story #us_pt1-4 h3{left: 20px; top: 150px;} 
#st_story #us_pt1-4 p{left: 20px; bottom: 330px;} 
#st_story #us_pt1-4 img{right: 30px; top: 50px; height: 500px; padding: 30px 0;}

#st_story #us_pt1-5{margin-bottom: 400px;}
#st_story #us_pt1-5 h3{left: 0;}
#st_story #us_pt1-5 p{left: 0; top: 120px;}
#st_story #us_pt1-5 b{font-size: 27px; position: absolute; left: 0; top: 70px;}
#st_story #us_pt1-5 img{top: 270px;}

/* st_intro */
#st_intro{background: url(../images/bg_01.gif) no-repeat bottom -1000px center; background-size: 100%;}
#st_intro #us_pt2-1{width: 1417px; height: 776px;}
#st_intro #us_pt2-1 h3{left: 67px; bottom: 250px; color: #fff;}
#st_intro #us_pt2-1 p{left: 67px; bottom: 150px; color: #fff;}

#st_intro #us_pt2-2 img:nth-child(1){left:0; bottom:50px;}
#st_intro #us_pt2-2 img:nth-child(2){right:0; bottom:50px;}
#st_intro #us_pt2-2 h3{top: 15px;}
#st_intro #us_pt2-2 p{top: 90px;}

#st_intro #us_pt2-3{width: 1920px; overflow: hidden;}
#st_intro #us_pt2-3 h3:nth-child(2){top: 140px; left: 310px; color: #fff;}
#st_intro #us_pt2-3 p:nth-child(3){top: 210px; left: 310px; color: #fff;}
#st_intro #us_pt2-3 h3:nth-child(4){bottom: 270px; left: 840px; color: #fff;}
#st_intro #us_pt2-3 p:nth-child(5){bottom: 130px; left: 840px; color: #fff;}

#st_intro .img_wrap{width: 497px; height: 410px; position: absolute;}
#st_intro .img_wrap img{width: 497px; height: 367px; position: inherit;}
#st_intro .img_wrap p{font-size: 20px; margin-top: 5px; bottom: 0; position: inherit;}

#us_pt2-4, #us_pt2-5, #us_pt2-6{height: 400px; margin-top: 150px;}
#us_pt2-4 .img_wrap, #us_pt2-6 .img_wrap{right: 0;}
#us_pt2-4 h3, #us_pt2-6 h3{top: 40px; left: 0;}
#us_pt2-4 .story_text, #us_pt2-6 .story_text{top: 110px; left: 0;}

#st_intro #us_pt2-5 h3{top: 40px; left: 610px;}
#st_intro #us_pt2-5 .story_text{top: 110px; left: 610px;}


/* move btn */
.move_btn{width: 403px; height: 80px; margin: 200px auto 0; background: #E8EAD9; border-radius: 7px; text-align: center; line-height: 80px; font-family: 'Noto Sans CJK KR Medium'; font-size: 22px;
box-shadow: 2px 5px 7px #666; 
box-shadow: -webkit-2px 5px 7px #666; 
box-shadow: -ms-2px 5px 7px #666; 
box-shadow: -moz-2px 5px 7px #666; 
box-shadow: -o-2px 5px 7px #666; 
}
.move_btn img{width: 23px; margin-top: 26px; margin-left: 10px;}
.move_btn a{display: block;}