@charset "utf-8"; 
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');/* Noto sans 폰트*/
*{margin:0; padding:0;} 
li{list-style: none;} 
a{text-decoration: none; outline:0; color:#1A1A1A;} 
img{border:0; vertical-align: top;}



/* common */
body{font: 20px 'Noto Sans KR', sans-serif; font-weight:400; color:#1A1A1A; letter-spacing: -0.8px;}

.wrap{width: 1280px; margin: 0 auto;}
.blind{position: absolute; height: 1px; width: 1px; overflow: hidden;}
fieldset{border: none;}

/* style */
.bt230{margin-bottom: 230px;}
.shadow{
    -webkit-box-shadow: 3px 3px 7px rgba(30,30,30,0.2); 
    box-shadow: 3px 3px 7px rgba(30,30,30,0.2);
}
/* txt style*/
.bold{font-weight: bold;}
.green{color: #095D26;}
.grey{color: #B8B3AD;}
.red{color: #C61616;}


/* pager */
.pager{position: absolute; bottom: 30px; left: 50%;}
.pager span{display: inline-block; width: 25px; height: 25px; border-radius: 50%; background: rgba(255,255,255,0.5); cursor: pointer;}
.pager span+span{margin-left: 20px;}
.pager .selected{width: 50px; border-radius: 20px; opacity: 1;}




/* header */
header{width: 100%; height: 110px; margin: 0 auto;}

/* lnb */
header #lnb{width: 100%; height: 40px; font-size: 14px; background: url(../images/lnb_bg.jpg);}
.lnb_sns{float: left; margin-left: 15px;}
.lnb_sns li{float: left; height: 22px; padding-top: 10px; margin-left: 37px;}
.lnb_sns li img{height: 100%;}
.lnb_right{float: right;}
.lnb_right >li{float: left; padding: 13px 20px 7px 0;}
.lnb_right li a{color: #fff;}
.lnb_right li img{width:14px; margin: 3px 0 0 3px;}
.language{background: #FAFAFA; position: absolute; top: 39px; margin-left: -10px; z-index: 11; } 
.language li{padding: 5px 20px; margin: 5px 0; display: none;}
.language li:hover{background: #E6E6E6;}
.language li a{color: #4A4240;}

/* gnb */
header #gnb{width: 100%; height: 70px; background: url(../images/gnb_bg.gif);}

#gnb h1{width: 221px; height: 70px; float: left; overflow: hidden;}
#gnb h1 img{width: 100%;}
#gnb .main_menu{font-family: 'Iropke Batang'; font-size: 21px; float: left; margin-left: 20px;}
#gnb .main_menu>li{float: left; padding: 0 35px; line-height: 70px;}
#gnb .main_menu a{display: block;}
#gnb .main_menu>li>a{color: #4A4240; transition: .2s color ease-in-out; }
#gnb .main_menu li:hover>a{color:#095D26;}
#gnb .gnb_right{float: right;}
#gnb .gnb_right li{float: left; width: 25px; padding: 0 20px; margin-top: 22px;}
#gnb .gnb_right img{width: 100%;}

#gnb .sub{height: 290px; margin-top: 10px; font-size:17px; font-family: 'Noto Sans KR', sans-serif; position: absolute; z-index: 2; display: none;}
#gnb .sub li{padding: 30px 40px; margin-left: -40px; line-height: 0px;}

#gnb .sub li:hover a{text-decoration: underline;}
#submenu_bg{width: 100%; height: 300px; background: #fff; position:absolute; top: 110px; z-index: 1; display: none;}




/* top btn */
.top_btn{width: 60px; height: 60px; border-radius: 60px; background-color: #1a1a1a; position: fixed; right: 50px; bottom: 200px; opacity: 0.5; z-index: 3; display: none;}
.top_btn img{margin: 15px;}
.top_btn a{display: block;}

/* footer */
footer{text-align: center;}
footer a, footer p{color: #fff;}
#family_sites{width: 100%; height: 65px; background: url(../images/footer/footer_bg-upper.jpg); margin: 0 auto;}
.footer_info{width: 100%; height: 290px; background: url(../images/footer/footer_bg.jpg); position: relative;}
.footer_info img{width: 115px; float: left; margin-top: 36px;}

footer ol{overflow: hidden; width: 1150px; margin: 0 auto;}
footer ol li{float: left; width: 75px; height: 51px; padding: 5px 10px;}
footer ol img{width: 100%; height: 100%;}
#vips img {width: 75%; height: auto; margin-top: -9px;}
#bibigo img, #thePlace img{width: 80%; height: auto; margin-top: -5px;}
#foodworld img, #juice img{width: 100%; height: auto; margin-top: 20px;}
#sTower img, #bTower img{width: 100%; height: auto; margin-top: 10px;}

.footer_info .logo a{display: block;}
.footer_info ul li{display: inline-block; height: 17px; line-height: 25px; font-size: 17px; margin: 41px 0 35px 0; padding: 0 12.5px; background: url(../images/footer_line.gif) no-repeat right center;}
.footer_info ul li:last-child{background-image: none;}
.footer_info li a{color: #FAFAFA;}
footer ul .bold{color: #E8EAD9;}
.footer_info p{font-size: 14px; display: inline-block; color: #B8B3AD;}
.footer_info .footer_rows{margin-bottom: 15px;}
.footer_info .footer_rows p+p{margin-left: 20px;}




/* ~1620px */
@media only screen and (max-width:1620px) {
    .top_btn{right: 20px;}
}