.error{color: red; font-size: 17px; display: none;}

/* section */
section {width: 970px; height: 1000px; margin: 110px auto 230px; font-weight: 500; color: #4A4240;}
section h2{display: inline-block; padding: 5px 0; font-size: 30px; font-weight: 400; border-bottom: 1px solid #1A1A1A;}

/* terms */
/* check_all */
.chk_txt{height: 45px; line-height: 45px; margin-top: 60px; margin-bottom: 40px; color: #1a1a1a; position: relative; text-decoration: underline;}
input[type=checkbox]{position: absolute; top: 15px; left:15px;}
input[type=checkbox]:before{content:""; display: inline-block; width: 45px; height: 45px; cursor: pointer; background: url('../images/agree_ch.svg') no-repeat center center; background-size: 40px 40px; position: absolute; top: -20px; left: -15px;}
input[type=checkbox]:checked:before{background: url('../images/agree_ch_yes.svg') no-repeat center center; background-size: 40px 40px; }


/* terms list */
.terms_list .terms_bx {margin: 20px 0 30px; position: relative;}

label{margin-left: 60px; line-height: 40px; cursor: pointer;}
.terms_list .terms_article{box-sizing: border-box; width: 908px; height: 180px; border: 1px solid #B8B3AD; overflow: scroll; padding: 20px; margin-top: 5px; margin-left: 60px; color: #666;}

/* agree btn */
.agree_btn div, .agree{width: 340px; height: 80px; line-height: 80px; text-align: center; float: left; box-sizing: border-box; margin-right: 30px; margin-top: 80px;}
.agree_btn .notagree{border: 1px solid #707070; margin-left: 135px;}
.agree_btn .notagree a{color: #707070; display: block;}
.agree_btn .agree{background: #4A4240; color:#fff; font-size: 20px; cursor: pointer;}
